{% extends "./base.html" %}

{% block title %} Gestion de solicitudes{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestion de solicitud</h2>
        <div class="card">
            <div class="card-body">
                <form action="/solicitud_add/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtpunto_de_partida"  name="txtpunto_de_partida" class="form-control" placeholder="Punto de partida" autocomplete="off" required>
                        </div>
                        
                        <div class="form-group">
                        <input type="text" id="txtpunto_de_llegada"  name="txtpunto_de_llegada" class="form-control" placeholder="Punto de llegada" autocomplete="off" required>
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Crear solicitud</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de solicitudes</h1>
        <div class="table-responsive py-4">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Punto de partida</th>
                        <th>Punto de llegada</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                        <th>Estado_solicitud</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for c in queryset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.punto_de_partida }}</td>
                        <td>{{ c.punto_de_llegada }}</td>
                        <td>${{ c.valor }}</td>
                        <td>{{ c.fecha | date:'d/m/Y' }}</td>
                        <td> 
                            {% if c.estado_solicitud == 0 %} 
                                Cancelado
                            {% elif c.estado_solicitud == 1 %}
                                Pendiente
                            {% elif c.estado_solicitud == 2 %} 
                                Confirmado
                            {% elif c.estado_solicitud == 3 %} 
                                En transito
                            {% elif c.estado_solicitud == 4 %} 
                                Finalizado
                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}