{% extends "./base.html" %}

{% block title %} Gestion de solicitudes{% endblock %}

{% block body %}
<div class="row offset-md-1">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de solicitudes</h1>
        <div class="table-responsive py-4">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Punto de partida</th>
                        <th>Punto de llegada</th>
                        <th>Valor</th>
                        <th>Kilometros</th>
                        <th>Fecha</th>
                        <th>Estado_solicitud</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for c in queryset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.punto_de_partida }}</td>
                        <td>{{ c.punto_de_llegada }}</td>
                        <td>${{ c.valor }}</td>
                        <td>{{ c.km }} km</td>
                        <td>{{ c.fecha | date:'d/m/Y' }}</td>
                        <td> 
                            {% if c.estado_solicitud == 0 %} 
                                Cancelado
                            {% elif c.estado_solicitud == 1 %}
                                Pendiente
                            {% elif c.estado_solicitud == 2 %} 
                                Confirmado
                            {% elif c.estado_solicitud == 3 %} 
                                En transito
                            {% elif c.estado_solicitud == 4 %} 
                                Finalizado
                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert" {{ message.tags }}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <a href="{% url 'solicitud' %}" class="btn btn-info">Solicitudes Pendientes</a> 
        </div>
    </div>
</div>

{% endblock %}