{% extends "./base.html" %}

{% block title %} Principal{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de vehículo</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'vehiculo_delete' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtplaca" name="txtplaca" value="{{vehiculo}}" class="form-control" placeholder="placa"
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Esta seguro que desea eliminar el vehiculo
                      </div>
                    <div class="form-group">
                        <button type="submit" type="button" class="btn btn-danger" >Aceptar</button>
                        <a href="{% url 'vehiculo_add' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}