{% extends "./base.html" %}

{% block title %} Gestión de vehículo{% endblock %}

{% block body %}
<div class="row  offset-md-1">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de vehículos</h1>
        <div class="table-responsive py-4">
            <table class="table table-striped table-hover rwd_auto ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>id</th>
                        <th>Placa</th>
                        <th>Capacidad de pasajeros</th>
                        <th>Cilindraje</th>
                        <th>Fecha de SOAT</th>
                        <th>Fecha Tarjeta de operación</th>
                        <th>Propietario</th>
                        <th>Estado</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in queryset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.id }}</td>
                        <td>{{ c.placa }}</td>
                        <td>{{ c.capacidad_de_pasajeros }}</td>
                        <td>{{ c.cilindraje }}</td>
                        <td>{{ c.fecha_SOAT |date:'d/m/Y'}}</td>
                        <td>{{ c.tarjeta_operacion |date:'d/m/Y'}}</td>
                        <td>{{ c.propietario }}</td>
                        <td>{%if c.estado == 0 %} Deshabilitado
                            {%elif c.estado == 1 %} Habilitado
                            {%endif%}</td>
                        <td><a href="{% url 'vehiculo_update' c.placa %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'vehiculo_delete' c.placa %} " class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert" {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <a href="{% url 'vehiculo_add' %}" class="btn btn-info">crear vehiculo</a> 
    </div>
</div>
{% endblock %}